<footer class="top">
	<img src="/assets/img/logo-comnstay.png" class="logoFooter" title="logo comnstay" alt="logo comnstay">
	<div class="links">
		<div class="links-column">
			<h6>PV-Tracker</h6>
			<p>contact@pv-tracker.com</p>
		</div>
		<div class="links-column">
			<h6>Suivez-nous sur Linkedin !</h6>
			<a href="" class="linkedin" aria-label="Suivez nous sur Linkedin">
				<i class="fa-brands fa-linkedin fa-2xl" style="color: #436198;"></i>
			</a>
		</div>
	</div>
</footer>

<footer class="bottom">
	<p>© 2014-{{ "now"|date('Y') }} ComN'Stay - Tous droits réservés</p>
	<div class="legal">
		<a type="button" data-bs-toggle="modal" data-bs-target="#legalModal">Mentions légales</a>
		<a type="button" data-bs-toggle="modal" data-bs-target="#legalModal">Politique de protection des données</a>
		<a type="button" data-bs-toggle="modal" data-bs-target="#legalModal">Conditions générales d'utilisation</a>
	</div>
</footer>
