{% extends 'base.html.twig' %}

{% block title %}New Systems{% endblock %}

{% block body %}
    <h1>Create new Systems</h1>

    {{ include('systems/_form.html.twig') }}

    <a href="{{ path('app_systems_index') }}">back to list</a>
{% endblock %}
