{% extends 'base.html.twig' %}

{% block title %}Saisie nouvel index{% endblock %}

{% block stylesheets %}
    {{ include('account/_assets/_calendar_css.html.twig') }}
{% endblock %}

{% block body %}
    <h1>Saisie nouvelle relève</h1>

    {{ include('account/energy/_form.html.twig') }}

    <a class="btn btn-info btn-lg" href="{{ path('app_energy_index') }}">Toutes les relèves</a>

{% endblock %}

{% block javascripts %}
	{{ include('account/_assets/_calendar_js.html.twig') }}
    <script>
        $(document).on('click', '._getDate', function(e){
            e.preventDefault();
            let date = $(this).data('date');
            $('.day.active').removeClass('active');
            $(this).parent().addClass('active');
            let exp = date.split('-');
            let year = exp[0];
            let mounth = (exp[1].length == 1) ? 0 + exp[1] : $exp[1];
            let day = (exp[2].length == 1) ? 0 + exp[2] : $exp[2];
            $('#energy_date').val(year + '-' + mounth + '-' + day)
        });
    </script>
{% endblock %}
