<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>PV-Tracker - {% block title %}Accueil{% endblock %} -</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link rel="stylesheet" href="/assets/css/libraries/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/libraries/toastr.css" />
        <link rel="stylesheet" href="/assets/css/front/global.css" />
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        
        <section class="wrapper-header" style="margin-bottom:8vh">
            {% include "_partials/header.html.twig" %}
        </section>
        <section class="wrap-content">
            {% block body %}{% endblock %}
        </section>
        <section class="wrap-footer">
            {% include "_partials/footer.html.twig" %}
        </section> 

        <script src="/assets/js/libraries/popper.min.js"></script>
        <script src="/assets/js/libraries/bootstrap.min.js"></script>
        <script src="/assets/js/libraries/jquery.min.js"></script>
        <script src="/assets/js/libraries/bootstrap-bundle.min.js"></script>
        <script src="/assets/js/libraries/jquery.easing.min.js"></script>
        <script src="/assets/js/libraries/toastr.min.js"></script>
        <script src="/assets/js/front/global.js"></script>
        {% block javascripts %}{% endblock %}
        {% include "_partials/messages.html.twig" %}
    </body>
</html>
