<form method="post" action="{{ path('app_users_account_delete', {'token': user.token}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger btn-xl _deleteBtn mr-3"><i class="fa-solid fa-trash-can fa-lg text-white mr-3"></i>Supprimer cet utilisateur</button>
</form>
